body {
  font-family: "Fira Code", monospace;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}


.campo-invalido {
  border: solid 1px red;
  box-shadow: 0 0 10px red;
}

.error {
  color: red;
  display: block;
}


h1,
h2 {
  text-align: center;
  color: #333;
}

h1 {
  margin-top: 20px;
}

section {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-contacto,
.info-dispositivo {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="file"],
textarea,
select {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea{
  width: 100%;
}

button,
a.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

button:hover,
a.button:hover {
  background-color: #218838;
}

a.button {
  background-color: #007bff;
}

a.button:hover {
  background-color: #0056b3;
}

#conf-box,
#val-box {
  text-align: center;
  margin: 20px 0;
}

#conf-box h2,
#val-box h2 {
  color: #28a745;
}

#val-box h2 {
  color: #dc3545;
}

#val-list {
  color: #dc3545;
  list-style: none;
  padding: 0;
}

#contenedor-dispositivo .dispositivo {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

#addDeviceBtn {
  background-color: #ffc107;
  color: #fff;
}

#addDeviceBtn:hover {
  background-color: #e0a800;
}

@media (max-width: 1150px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    width: 100%;
  }
  input[type="number"]{
    width: 20%;
  }
}
