<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jimmy Aguilera" />
    <title>Agregar Donación</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/agregar-donacion.css}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <div th:if="${exito}">
        <div id="conf-box">
          <h2 id="conf-msg">Muchas gracias por su donación</h2>
          <a class="button" th:href="@{/}">Volver al inicio</a>
        </div>
      </div>
      <div id="conf-box" style="display:none">
        <h2 id="conf-msg">¡Formulario Válido! ¿Confirma que desea publicar esta donación? </h2>

        <button class="button-submit" id="button-submit" type="submit ">
          Si, Confirmo
        </button>
  
        <button class="button-back" type="button" id="button-back">
          No, quiero volver al formulario
        </button>

      </div>
      

      <form
        id="myForm"
        th:action="@{/validacion}"
        method="post"
        enctype="multipart/form-data"
        th:if="${not exito}"
      >
      <h1>Formulario de donación</h1>
        <!-- Información de Contacto -->
        <fieldset>
          <legend>Información de contacto</legend>
          <label for="nombre">
            <em>Nombre:</em>
          </label>
          <input
            type="text"
            minlength="3"
            maxlength="80"
            id="nombre"
            name="nombre"
            required
          /><span class="error" th:text="${errores.nombre}"></span>
          <br />

          <label for="email">
            <em>Email:</em>
          </label>
          <input
            type="email"
            id="email"
            name="email"
            required
          /><span class="error" th:text="${errores.email}"></span>
          <br />

          <label for="celular">
            <em>Número celular:</em>
          </label>
          <input
            type="tel"
            id="celular"
            name="celular"
          /><span class="error" th:text="${errores.celular}"></span>
          <br />

          <label for="region">
            <em>Región:</em>
          </label>
          <select id="region" name="region" required>
            <option value="" disabled selected>Seleccione una región</option>
            <option
              th:each="region : ${regiones}"
              th:value="${region.id}"
              th:text="${region.nombre}"
            ></option>
          </select><span class="error" th:text="${errores.region}"></span>
          <br />

          <label for="comuna">
            <em>Comuna:</em>
          </label>
          <select id="comuna" name="comuna" required>
            <option value="" disabled selected>Seleccione una comuna</option>
            <option
              th:each="comuna : ${comunas}"
              th:value="${comuna.id}"
              th:text="${comuna.nombre}"
            ></option>
          </select><span class="error" th:text="${errores.comuna}"></span>
        </fieldset>

        <!-- Información del Dispositivo -->
        <fieldset>
          <legend>Información del dispositivo</legend>
          <label for="dispositivo">
            <em>Nombre del dispositivo:</em>
          </label>
          <input
            type="text"
            id="dispositivo"
            name="dispositivo"
            minlength="3"
            maxlength="80"
            required
          /><span class="error" th:text="${errores.dispositivo}"></span>
          <br />

          <label for="descripcion">
            <em>Descripción:</em>
          </label>
          <textarea
            id="descripcion"
            name="descripcion"
            rows="4"
          ></textarea><span class="error" th:text="${errores.descripcion}"></span>
          <br />

          <label for="tipo">
            <em>Tipo:</em>
          </label>
          <select id="tipo" name="tipo" required>
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="1">Pantalla</option>
            <option value="2">Notebook</option>
            <option value="3">Tablet</option>
            <option value="4">Celular</option>
            <option value="5">Consola</option>
            <option value="6">Mouse</option>
            <option value="7">Teclado</option>
            <option value="8">Impresora</option>
            <option value="9">Parlante</option>
            <option value="10">Audífonos</option>
            <option value="11">Otro</option>
            ></option>
          </select><span class="error" th:text="${errores.tipo}"></span>
          <br />

          <label for="uso">
            <em>Años de uso:</em>
          </label>
          <input
            type="number"
            id="uso"
            name="uso"
            min="1"
            max="99"
            required
          /><span th:text="${errores.uso}"></span>
          <br />

          <label for="estado">
            <em>Estado de funcionamiento:</em>
          </label>
          <select id="estado" name="estado" required>
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="1">Funciona perfecto</option>
            <option value="2">Funciona a medias</option>
            <option value="3">No funciona</option>
          </select><span th:text="${errores.estado}"></span>
          <br />

          <label for="archivos">
            <em>Fotos del producto:</em>
          </label>
          <input
            type="file"
            id="archivos"
            name="archivos"
            multiple
            required
          /><span></span>
        </fieldset>

        <button class="button-publicar" id="button-publicar" type="button">
          Publicar esta donación
        </button>

        
        <a class="button" th:href="@{/}">Volver al inicio</a>
      </form>
    </section>

    <script th:if="${!exito}" th:src="@{/js/form-validation.js}"></script>
    <script th:if="${!exito}" th:src="@{/js/poblarComunas.js}"></script>
  </body>
</html>
