<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Información Dispositivo</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/info-dispositivos.css}"
    />
  </head>
  <body>
    <div id="contenedor-dispositivo" th:attr="data-device-id=${data['dispositivo']['id_dispositivo']}">
      <h2>Información de contacto</h2>
      <p>Nombre: <span th:text="${data['contacto']['nombre']}"></span></p>
      <p>Email: <span th:text="${data['contacto']['email']}"></span></p>
      <p>Teléfono: <span th:text="${data['contacto']['telefono']}"></span></p>
      <p>Región: <span th:text="${data['contacto']['region']}"></span></p>
      <p>Comuna: <span th:text="${data['contacto']['comuna']}"></span></p>

      <h2>Información del dispositivo</h2>
      <p>
        Nombre del dispositivo:
        <span th:text="${data['dispositivo']['nombre']}"></span>
      </p>
      <p>Tipo: <span th:text="${data['dispositivo']['tipo']}"></span></p>
      <p>
        Años de uso: <span th:text="${data['dispositivo']['anosUso']}"></span>
      </p>
      <p>
        Estado de funcionamiento:
        <span th:text="${data['dispositivo']['estado']}"></span>
      </p>

      <h2>Fotos del producto</h2>
      <div class="imagenes">
        <div th:each="archivo : ${data['archivos']}">
          <img
            class="zoomin"
            th:src="@{${archivo}}"
            alt="${data['dispositivo']['nombre']}"
            style="width: 640px; height: 480px"
          />
        </div>
      </div>

    <h3>Comentarios:</h3>
    <div th:each="comentario : ${comentarios}">
        <div class="comentario">
            <div class="comentario-header">
                <span th:text="'@' + ${comentario.nombre}"></span>
                <span th:text="${comentario.fecha}"></span>
            </div>
            <div class="comentario-body">
                <span th:text="${comentario.texto}"></span>
            </div>
        </div>
    </div>

    <div id="contenedor-comentarios"></div>
    <form id="myForm" th:action="@{/validacioncomentario}" th:object="${comentarioDTO}" method="post">
        <input type="hidden" name="deviceId" th:value="${data['dispositivo']['id_dispositivo']}"/>
        <fieldset>
            <legend>Agregar nuevo comentario</legend>
            
            <label for="nombre"><em>Nombre:</em></label>
            <input type="text" id="nombre" th:field="*{nombre}" minlength="3" maxlength="80"  />
            <span class="error" th:errors="*{nombre}"></span>
            <br/><br/>
    
            <label for="comentario"><em>Comentario:</em></label>
            <textarea id="comentario" th:field="*{texto}" cols="50" rows="4" maxlength="200" ></textarea>
            <span class="error" th:errors="*{texto}"></span>
            <br/><br/>
    
            <button type="submit" id="addComentarioBtn">Agregar comentario</button>
            <div>
                <a class="volver-button" th:href="@{/dispositivos}">Volver</a>
            </div>
            <div>
                <a class="button inicio-button" th:href="@{/}">Volver al inicio</a>
            </div>
        </fieldset>
    </form>

    <script th:src="@{/js/info-dispositivo.js}"></script>
    <script th:src="@{/js/cargarComentarios.js}"></script>
  </body>
</html>
