<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jimmy Aguilera" />
    <title>Ver Dispositivos</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/ver-dispositivo.css}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Lista de Dispositivos</h1>
      <table>
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Nombre Dispositivo</th>
            <th>Estado</th>
            <th>Comuna</th>
            <th>Fotos</th>
          </tr>
        </thead>
        <tbody>
          <tr
            th:each="dispositivo : ${dispositivos}"
            th:data-id="${dispositivo[0]}"
          >
            <td th:text="${#strings.capitalize(dispositivo[1])}"></td>
            <td th:text="${dispositivo[2]}"></td>
            <td th:text="${#strings.capitalize(dispositivo[3])}"></td>
            <td th:text="${dispositivo[4]}"></td>
            <td>
              <img
                th:src="@{${dispositivo[5]} + '/' + ${dispositivo[6]}}"
                th:alt="${dispositivo[2]}"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <a class="button" th:href="@{/}">Volver al inicio</a>
      </div>
      <nav>
        <ul class="pagination">
          <li th:each="page : ${paginas_visibles}">
            <span th:if="${page == '...'}" th:text="'...'"></span>
            <a
              th:if="${page != '...' and page == pagina_actual}"
              th:href="@{/ver-dispositivos(pagina=${page})}"
              class="active"
              th:text="${page}"
            ></a>
            <a
              th:if="${page != '...' and page != pagina_actual}"
              th:href="@{/ver-dispositivos(pagina=${page})}"
              th:text="${page}"
            ></a>
          </li>
        </ul>
      </nav>
    </div>

    <script th:src="@{/js/ver-dispositivos.js}"></script>
  </body>
</html>
