{%extends 'base.html' %}
{% block title %}
  Agregar Donación
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='../static/css/agregar-donacion.css')}}">
{% endblock %}
{% block content %}
    <section>
      
      {% if exito %}
      <div id="conf-box">
        <h2 id="conf-msg">Muchas gracias por su donación</h2>
        <a class="button" href="{{url_for('index')}}">Volver al inicio</a>
      </div>
      {% else %}
      
      <div><h1>Formulario de Donación</h1></div>
      {% if errors %}
      <div id="val-box">
        <h2 id="val-msg">Los siguientes Campos son invalidos:</h2>
        <ul id="val-list">{% for key, error in errors.items() %}
          <li>{{ key }}: {{ error }}</li>
        {% endfor %}</ul>
      </div>
      {% endif%}
      <div id="val-box" hidden>
        <h2 id="val-msg">Mensaje de validación</h2>
        <ul id="val-list"></ul>
      </div>
      <form id="myForm" action="{{url_for('agregar_donacion')}}" method="post" enctype="multipart/form-data">
        <!--##### INFO CONTACTO ######-->
        <div class="info-contacto">
          <fieldset>
            <legend>Información de contacto</legend>
            <label for="nombre">
              <em>Nombre:</em>
            </label>
            <input
              type="text"
              minlength="3"
              maxlength="80"
              id="nombre"
              name="nombre"
              size="80"
              required
              value="{{ request.form.get('nombre', '') }}">
              <span></span>
              <br><br>

            <label for="email">
              <em>Email:</em>
            </label>
            <input type="email" id="email" name="email" size="30" required value="{{ request.form.get('email', '') }}">
            <span></span><br><br>

            <label for="celular">
              <em>Número celular:</em>
            </label>
            <input type="tel" id="celular" name="celular" size="15" value="{{ request.form.get('celular', '') }}">
            <span></span>
<br><br>

            <label for="region">
              <em>Región:</em>
            </label>
            <select id="region" name="region">
              <option value="0">Seleccione una región</option>
            </select>
            <span></span>
            <br><br>

            <label for="comuna">
              <em>Comuna:</em>
            </label>
            <select id="comuna" name="comuna" >
              <option value="0">Seleccione una comuna</option>
            </select>
            <span></span>
            <br><br>
          </fieldset>
        </div>

        <!--###### DISPOSITIVO ######-->
        <div class="info-dispositivo">
          <fieldset>
            <legend>Información dispositivo</legend>
            <div id="contenedor-dispositivo">
              <div class="dispositivo">
                <label for="dispositivo">
                  <em>Nombre del dispositivo:</em>
                </label>
                <input
                  type="text"
                  id="dispositivo"
                  name="dispositivo[]"
                  size="80"
                  minlength="3"
                  maxlength="80"
                  required value="{{ request.form.get('devices', '') }}">
                <span></span> <br><br>

                <label for="descripcion">
                  <em>Descripción:</em>
                </label>
                <textarea
                  id="descripcion"
                  rows="4"
                  cols="50"
                  name="descripcion[]"
                  required> </textarea><span></span><br><br>

                <label for="tipo">
                  <em>Tipo:</em>
                </label>
                <select  id="tipo" name="tipo[]" >
                  <option value="0">Seleccione una opción</option>
                  <option value="1">Pantalla</option>
                  <option value="2">Notebook</option>
                  <option value="3">Tablet</option>
                  <option value="4">Celular</option>
                  <option value="5">Consola</option>
                  <option value="6">Mouse</option>
                  <option value="7">Teclado</option>
                  <option value="8">Impresora</option>
                  <option value="9">Parlante</option>
                  <option value="10">Audífonos</option>
                  <option value="11">Otro</option>
                </select>
                <span></span>
                <br><br>

                <label for="uso">
                  <em>Años de uso:</em>
                </label>
                <input
                  type="number"
                  min="1"
                  max="99"
                  id="uso"
                  name="uso[]"
                  required>
                <span></span>
                <br><br>

                <label for="estado">
                  <em>Estado de funcionamiento:</em>
                </label>
                <select  id="estado" name="estado[]">
                  <option value="0">Seleccione una opción</option>
                  <option value="1">Funciona perfecto</option>
                  <option value="2">Funciona a medias</option>
                  <option value="3">No funciona</option>
                </select>
                <span></span>
                <br><br>

                <label for="archivos">
                  <em>Fotos del producto:</em>
                </label>
                <input
                  type="file"
                  id="archivos"
                  name="archivo_1"
                  multiple
                  required>
                <span></span>
                <br><br>
              </div>
            </div>
          </fieldset>
          <button type="button" id="addDeviceBtn">
            Añadir otro dispositivo
          </button>
          <div class="class-form__button">
            <button class="button-submit" type="submit" id="button-submit">
              Publicar esta donación
            </button>
          </div>
          <div>
            <a class="button" href="{{url_for('index')}}">Volver al inicio</a>
          </div>
        </div>
      </form>
      {% endif %}
    </section>
{% endblock %}
{% block javascript %}
    <script src="{{url_for('static',filename='js/form-validation.js')}}"></script>
    <script src="{{url_for('static',filename='js/regiones-comunas.js')}}"></script>
    <script src="{{url_for('static',filename='js/select-Reg-Com.js')}}"></script>
    <script src="{{url_for('static',filename='js/otro-dispositivo.js')}}"></script>
{% endblock %}

