<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jimmy Aguilera">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block styles %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet">
</head>
    <body>
        {% block content %}
        {% endblock %}
        <!--==================JS===================-->
        {% block javascript %}
        {% endblock %}

    </body>
</html>