{%extends 'base.html' %}
{% block title %}
  Inicio
{% endblock %}
{% block styles%}
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='../static/css/index.css')}}">
{% endblock %}
{% block content %}
    <section>
      <h1>
        Bienvenido a la Aplicación de Donación de Dispositivos Electrónicos
      </h1>
      <div class="button-container">
        <a href="{{url_for('agregar_donacion')}}" class="button">
          Agregar Donación
        </a>
        <a href="{{url_for('ver_dispositivos')}}" class="button">
          Ver Dispositivos
        </a>
        <a href="{{url_for('grafico_tipo_dispositivos')}}" class="button">
          Gráfico tipo de dispositivos
        </a>
        <a href="{{url_for('grafico_contactos_comuna')}}" class="button">
          Gráfico contactos por comuna
        </a>
      </div>
    </section>
{% endblock %}
