{% extends 'base.html'%}
{% block title %}
    Ver dispositivos
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/ver-dispositivo.css')}}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Lista de Dispositivos</h1>
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nombre Dispositivo</th>
                    <th>Estado</th>
                    <th>Comuna</th>
                    <th>Fotos</th>
                </tr>
            </thead>
            <tbody>
                <tr data-id="dispositivo1" onclick="redirect(this)">
                    <td>Otro</td>
                    <td>GOLF powerbank P20-LCDPD</td>
                    <td>Funciona a medias</td>
                    <td>San Bernardo</td>
                    <td><img src="{{url_for('static',filename='media/powerbank_golf_20000mA.jpg')}}" alt="powerbank golf"></td>
                </tr>
                <tr data-id="dispositivo2" onclick="redirect(this)">
                    <td>Notebook</td>
                    <td>ACER aspire 4733Z</td>
                    <td>No funciona</td>
                    <td>Quillota</td>
                    <td><img src="{{url_for('static',filename='media/acer_aspire_4733Z.jpg')}}" alt="notebook acer aspire"></td>
                </tr>
                <tr data-id="dispositivo3" onclick="redirect(this)">
                    <td>Impresora</td>
                    <td>Brother DCP-T710W</td>
                    <td>Funciona a medias</td>
                    <td>San Bernardo</td>
                    <td><img src="{{url_for('static',filename='media/impresora_brother_DCP_T710W.jpg')}}" alt="impresora brother"></td>
                </tr>
                <tr data-id="dispositivo4" onclick="redirect(this)">
                    <td>Audífonos</td>
                    <td>JBL QUANTUM 300</td>
                    <td>Funciona perfecto</td>
                    <td>Antofagasta</td>
                    <td><img src="{{url_for('static',filename='media/audifonosjbl.jpg')}}" alt="audifonos jbl"></td>
                </tr>
                <tr data-id="dispositivo5" onclick="redirect(this)">
                    <td>Notebook</td>
                    <td>ASUS TUF GAMING F15</td>
                    <td>Funciona perfecto</td>
                    <td>Iquique</td>
                    <td><img src="{{url_for('static',filename='media/notebook_asus.jpg')}}" alt="notebook asus"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a class="button" href="{{url_for('index')}}">Volver al inicio</a>
          </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{url_for('static',filename='js/ver-dispositivos.js')}}"></script>
{% endblock %}


