{% extends 'base.html'%}
{% block title %}
    Ver dispositivos
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/ver-dispositivo.css')}}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Lista de Dispositivos</h1>
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nombre Dispositivo</th>
                    <th>Estado</th>
                    <th>Comuna</th>
                    <th>Fotos</th>
                </tr>
            </thead>
            <tbody>
                {% for dispositivo in dispositivos %}
                <tr data-id="{{ dispositivo.device_id }}">
                    <td>{{ dispositivo.tipo|capitalize }}</td>
                    <td>{{ dispositivo.dispositivo }}</td>
                    <td>{{ dispositivo.estado|capitalize }}</td>
                    <td>{{ dispositivo.comuna }}</td>
                    <td><img src="{{ url_for('static', filename=dispositivo.ruta_archivo|replace('static/', '') ~ '/' ~ dispositivo.nombre_archivo) }}" alt="{{ dispositivo.dispositivo}}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a class="button" href="{{url_for('index')}}">Volver al inicio</a>
          </div>
          <nav>
            <ul class="pagination">
                {% for page in paginas_visibles %}
                    {% if page == "..." %}
                        <li><span>...</span></li>
                    {% elif page == pagina_actual %}
                        <li><a href="{{ url_for('ver_dispositivos', pagina=page) }}" class="active">{{ page }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('ver_dispositivos', pagina=page) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{url_for('static',filename='js/ver-dispositivos.js')}}"></script>
{% endblock %}


